.login {
    height: 100%;
    display: flex;
    flex-direction: row;
}
    .login-form {
        width: 50%;
        height: 100%;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .banner-login {
        width: 50%;
        height: 100%;       
        display: flex;
        flex-direction: column;
        align-items: center;

    }

.login-form-wrapper {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form-wrapper button {
    width: 100%;
    max-width: 600px;
    background-color:#0044FF;
}
  
.login-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

@media screen and (max-width: 1152px) {
    .banner-login{
        display: none
    }
}

.login-form {
    width: 100%;
}