.register-parent {
    height: 100%;
    padding: 0 2%;
    background: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.register {
    width: 100%;
    max-width: 600px;
    padding: 30px 20px 80px 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(222,222,227,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(222,222,227,1);
box-shadow: 0px 0px 5px 0px rgba(222,222,227,1);
}

.register-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-title img {
    width: 200px;
    height: 40px;
}

