<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="flex-dashboard">
    <sidebar>
        <div class="sidebar-title">
            <img src="../imagens/logo+white.png" alt="">

        </div>
        <div class="menu">
            <ul>
                <li>
                    <i class="fa-solid fa-house"></i>
                    <a href="dashboard.html" > Dashboard</a>
                </li>
                <li>
                    <i class="fa-solid fa-table-list"></i>
                    <a href="cotacoes.html" >Cotações</a>
                </li>
                <li>
                    <i class="fa-solid fa-ship"></i>
                    <a href="bookings.html" >Bookings</a>
                </li>
                <li class="selected">
                    <i class="fa-solid fa-money-check-dollar"></i>
                    <a href="pagamentos.html" >Pagamentos</a>
                </li>
                <li>
                    <i class="fa-solid fa-circle-user"></i>
                    <a href="conta.html" >Conta</a>
                </li>
            </ul>

        </div>
    
    </sidebar>
     <main>
        <header>
            <a href="dashboard.html"> <i class="fa-solid fa-bars"></i> Dashboard</a>
            <a href="../index.html"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>Pagamentos</h2>
                    <div class="table">
                    <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Pedido</th>
                            <th scope="col">Booking</th>
                            <th scope="col">Navio</th>
                            <th scope="col">D/L Draft</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>68451385</td>
                            <td>Cap San Antonio 222R</td>
                            <td>Pago</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>68451385</td>
                            <td>Cap San Antonio 222R</td>
                            <td>Pago</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>68451385</td>
                            <td>Cap San Antonio 222R</td>
                            <td>Pago</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                </div>
             
        </main>

    </div>
    <script src="../plugins/bootstrap/js/bootstrap.min.js" ></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>
</html>